
body {
    margin: 0;
}

main {
    /* uigradients.com */
   background-color: #FFDCDC;  /* fallback for old browsers */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

button {
     margin: 0 auto;
    padding: 8px 14px;
    cursor: pointer;
    border: 2px solid #B5828C;
    box-shadow: 2px 2px 0 0 white,
   4px 4px 0 #B5828C;
   transition-duration: 200ms;
}

#activity {
    display: none;
     border: 2px solid #B5828C;
     background-color: #fff;
     width: 150px;
     height: 100px;
     padding: 20px;
     align-items: center;
}